.container-full{
  background-image: url("../images/bg.jpg");
  background-size:cover;
  height:800px;
}
#welcome{
  text-align:center;
  padding-top:600px;
  color:white;
  font-family: 'Fascinate', cursive;
}

#description{
  text-align:center;
  color:white;
  font-family: 'Fascinate', cursive;
}
.nav{
 background-image:url("../images/nav.jpg");
 height:100px;
 display:block;
}
.nav ul li{
 margin:10px;
 padding:0px;
 float:right;
 list-style:none;
 display:block;
 color:black;
}
.nav a:hover{
 background-color: white;
 padding: 10px 10px 10px 10px;
}
#abt{
text-align: center;
font-family: 'Righteous', cursive;
padding-top:20px;
padding-bottom:20px;
}
.header{
  text-align:center;
  padding-top:20px;
  font-family: 'Righteous', cursive;
}
.img{
length:200px;
height:410px;
}
#para{
  font-family: 'Righteous', cursive;
  font-size:26px;
}
.text{
  margin-left:140px;
  font-family: 'Righteous', cursive;
}
.text1{
  margin-left:80px;
  font-family: 'Righteous', cursive;
}
.smal{
  margin-top:100px;
  font-family: 'Righteous', cursive;
}
